<div class="container fellows" id="fellows">
    <h2 class="text-center my-5">WaterSoftHack Fellows</h2>
    <div class="row">
        <!-- Team member item -->
        {% for person in site.data.fellows %}
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-img-box">
                <img src="assets/img/{{person.img}}" class="card-img-top" alt="Fellow Name">
            </div>  

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{person.name}}</h5>
                    <p class="flex-grow-1">{{person.bio}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Repeat for other team members -->
    </div>
</div>
