<section id="footer" class="section site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<h6>About</h6>
				<p class="text-justify">WaterSoftHack aims to advance water science research through collaborative
					cybertraining and machine learning. Our mission is to foster an inclusive environment for education
					and innovation.</p>
			</div>

			<div class="col-sm-6 col-md-4">
				<h6>Quick Links</h6>
				<ul class="footer-links">
					<li><a href="#about">About Us</a></li>
					<li><a href="#schedule">Schedule</a></li>
					<li><a href="#teams">Teams</a></li>
					<li><a href="#sponsors">Sponsors</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>

			<div class="col-sm-6 col-md-4">
				<h6>Contact</h6>
				<ul class="footer-links">
					<li>Email: <a href="mailto:watersofthack@clemson.edu">watersofthack@clemson.edu</a></li>
				</ul>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-6 col-xs-12">
				<p>&copy; <span id = "footer-year"><span></p>
			</div>
		</div>
	</div>
</section>



<!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<script src="assets/js/index.js"></script>

</body>

</html>