<body>
    <nav class="navbar section navbar-expand-lg navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand text-white" href="#">WaterSoftHack</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link text-white" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#schedule">Schedule</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#teams">Teams</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#fellows">Fellows</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#sponsors">Sponsors</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#impacts">Impacts</a></li>
                    <li class="nav-item"><a class="nav-link-next text-white" href="/photos">Photos</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#footer">Contact</a></li>
                    <li class="nav-item"><a class="nav-link-next text-white" href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="hero-section position-relative overflow-hidden text-center bg-light small-screen-head">
        <div class="p-md-5 mx-auto my-5">
            <h1 class="header-font font-weight-normal text-white">WaterSoftHack 2025</h1>
            <h5>July 28 to August 08 (virtually via Zoom)</h5>
            <!-- <a class="btn btn-primary btn-apply" href="https://clemson.ca1.qualtrics.com/jfe/form/SV_3yGdkjOz7rN02iy" target="_blank">Apply Now</a>
            <h5>Registration Opens: Feb 17, 2025</h5>
            <h5>Deadline: March 31, 2025</h4> -->
            <a class="btn btn-custom-white" href="/about">View Content Page</a>
        </div>
       
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    <div class="position-relative overflow-hidden text-center bg-light big-screen-head">
        <img id="header-img" src="../assets/img/watersofthack-poster.jpeg" alt="">
        <div class="header-content-large">
            <h2 class="header-font font-weight-normal text-white">WaterSoftHack 2025</h2>
            <h5>July 28 to August 08 (virtually via Zoom)</h5>
            <!-- <a class="btn btn-primary btn-apply" href="https://clemson.ca1.qualtrics.com/jfe/form/SV_3yGdkjOz7rN02iy" target="_blank">Apply Now</a>
            <h5>Registration Opens: Feb 17, 2025</h5>
            <h5>Deadline: March 31, 2025</h4> -->
            <a class="btn btn-custom-white" href="/about">View Content Page</a>
        </div>
    </div>