<body>
    <nav class="navbar section navbar-expand-lg navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand text-white" href="#">WaterSoftHack</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link text-white" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#schedule">Schedule</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#teams">Teams</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#sponsors">Sponsors</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#footer">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="hero-section position-relative overflow-hidden text-center bg-light">
        <div class="p-md-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal text-white">WaterSoftHack</h1>
            <p class="lead font-weight-normal text-white">Join us to advance water science research through innovative
                cybertraining and machine learning.</p>
            <a class="btn btn-outline-primary text-white" href="/main">View Content Page</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>